@model Benday.YamlDemoApp.WebUi.Models.LogEntryEditorViewModel
    <tr id="@Html.Id("row")">
    @Html.HiddenFor(model => model.IsMarkedForDelete)
    @Html.HiddenFor(model => model.IsSelected)
        <td>
        @Html.DisplayFor(model => model.Id)
        </td>
        <td>
        @Html.DisplayFor(model => model.Category)
        </td>
        <td>
        @Html.DisplayFor(model => model.LogLevel)
        </td>
        <td>
        @Html.DisplayFor(model => model.LogText)
        </td>
        <td>
        @Html.DisplayFor(model => model.ExceptionText)
        </td>
        <td>
        @Html.DisplayFor(model => model.EventId)
        </td>
        <td>
        @Html.DisplayFor(model => model.State)
        </td>
        <td>
        @Html.DisplayFor(model => model.LogDate)
        </td>
        <td>
        @Html.ActionLink("Edit", "Edit", "LogEntry", new { id=Model.Id }) |
        @Html.ActionLink("Details", "Details", "LogEntry", new { id=Model.Id }) |
        @Html.ActionLink("Delete", "Delete", "LogEntry", new { id=Model.Id })
        </td>
    </tr>