@model Benday.YamlDemoApp.WebUi.Models.LookupEditorViewModel
    <tr id="@Html.Id("row")">
    @Html.HiddenFor(model => model.IsMarkedForDelete)
    @Html.HiddenFor(model => model.IsSelected)
    @Html.HiddenFor(model => model.Id)
        <td>
        @Html.DisplayFor(model => model.DisplayOrder)
        </td>
        <td>
        @Html.DisplayFor(model => model.LookupType)
        </td>
        <td>
        @Html.DisplayFor(model => model.LookupKey)
        </td>
        <td>
        @Html.DisplayFor(model => model.LookupValue)
        </td>
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.CreatedBy)
    @Html.HiddenFor(model => model.CreatedDate)
    @Html.HiddenFor(model => model.LastModifiedBy)
    @Html.HiddenFor(model => model.LastModifiedDate)
    @Html.HiddenFor(model => model.Timestamp)
        <td>
        @Html.ActionLink("Edit", "Edit", "Lookup", new { id=Model.Id }) |
        @Html.ActionLink("Details", "Details", "Lookup", new { id=Model.Id }) |
        @Html.ActionLink("Delete", "Delete", "Lookup", new { id=Model.Id })
        </td>
    </tr>