@model Benday.YamlDemoApp.WebUi.Models.LookupSearchViewModel

@{
ViewBag.Title = "Lookup Search";
}

    <h2>
    Lookup Search
    </h2>

@using (Html.BeginForm(method: FormMethod.Get))
{
@Html.AntiForgeryToken()

    <div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
        <div class="border">
        
        
            <div class="form-group mt-2">
            @Html.LabelFor(model => model.SimpleSearchValue, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                @Html.EditorFor(model => model.SimpleSearchValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SimpleSearchValue, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="detailedSearchHeader">
                <h2 class="mb-0">
                    <button class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseDetailedSearch"
                    aria-expanded="true"
                    aria-controls="collapseDetailedSearch">
                    detailed search
                    </button>
                </h2>
            </div>
        
            <div id="collapseDetailedSearch" class="collapse hide" aria-labelledby="detailedSearchHeader">
                <div class="card-body">
                    <div class="form-group">
                    @Html.ValidationMessageFor(model => model.IsSimpleSearch, "", new { @class = "text-danger" })
                    @Html.LabelFor(model => model.IsSimpleSearch, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.IsSimpleSearch, new { htmlAttributes = new { @class = "form-check-input" } })
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(model => model.LookupType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                        @Html.EditorFor(model => model.LookupType, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LookupType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(model => model.LookupKey, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                        @Html.EditorFor(model => model.LookupKey, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LookupKey, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(model => model.LookupValue, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                        @Html.EditorFor(model => model.LookupValue, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LookupValue, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                        @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                        @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                    @Html.LabelFor(model => model.LastModifiedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                        @Html.EditorFor(model => model.LastModifiedBy, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LastModifiedBy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                
                
                </div>
            </div>
        </div>
    
    
        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Search" class="btn btn-default btn-primary mx-2" />
            </div>
        </div>
    </div>
@Html.HiddenFor(model => model.CurrentSortProperty)
@Html.HiddenFor(model => model.CurrentSortDirection)
    <table class="table table-striped table-hover">
        <thead class="thead-light">
            <tr>
            @if(Model.CurrentSortProperty == "DisplayOrder" &&
            Model.CurrentSortDirection == Benday.Common.SearchConstants.SortDirectionAscending)
            {
                <th>
                    <button type="submit" name="sortBy" value="DisplayOrder" class="btn btn-link">
                        <b>
                        Display Order &uarr;
                        </b>
                    </button>
                </th>
            }
            else if(Model.CurrentSortProperty == "DisplayOrder" &&
            Model.CurrentSortDirection == Benday.Common.SearchConstants.SortDirectionDescending)
            {
                <th>
                    <button type="submit" name="sortBy" value="DisplayOrder" class="btn btn-link">
                        <b>
                        Display Order &darr;
                        </b>
                    </button>
                </th>
            }
            else
            {
                <th>
                    <button type="submit" name="sortBy" value="DisplayOrder" class="btn btn-link">
                    Display Order
                    </button>
                </th>
            }
            @if(Model.CurrentSortProperty == "LookupType" &&
            Model.CurrentSortDirection == Benday.Common.SearchConstants.SortDirectionAscending)
            {
                <th>
                    <button type="submit" name="sortBy" value="LookupType" class="btn btn-link">
                        <b>
                        Lookup Type &uarr;
                        </b>
                    </button>
                </th>
            }
            else if(Model.CurrentSortProperty == "LookupType" &&
            Model.CurrentSortDirection == Benday.Common.SearchConstants.SortDirectionDescending)
            {
                <th>
                    <button type="submit" name="sortBy" value="LookupType" class="btn btn-link">
                        <b>
                        Lookup Type &darr;
                        </b>
                    </button>
                </th>
            }
            else
            {
                <th>
                    <button type="submit" name="sortBy" value="LookupType" class="btn btn-link">
                    Lookup Type
                    </button>
                </th>
            }
            @if(Model.CurrentSortProperty == "LookupKey" &&
            Model.CurrentSortDirection == Benday.Common.SearchConstants.SortDirectionAscending)
            {
                <th>
                    <button type="submit" name="sortBy" value="LookupKey" class="btn btn-link">
                        <b>
                        Lookup Key &uarr;
                        </b>
                    </button>
                </th>
            }
            else if(Model.CurrentSortProperty == "LookupKey" &&
            Model.CurrentSortDirection == Benday.Common.SearchConstants.SortDirectionDescending)
            {
                <th>
                    <button type="submit" name="sortBy" value="LookupKey" class="btn btn-link">
                        <b>
                        Lookup Key &darr;
                        </b>
                    </button>
                </th>
            }
            else
            {
                <th>
                    <button type="submit" name="sortBy" value="LookupKey" class="btn btn-link">
                    Lookup Key
                    </button>
                </th>
            }
            @if(Model.CurrentSortProperty == "LookupValue" &&
            Model.CurrentSortDirection == Benday.Common.SearchConstants.SortDirectionAscending)
            {
                <th>
                    <button type="submit" name="sortBy" value="LookupValue" class="btn btn-link">
                        <b>
                        Lookup Value &uarr;
                        </b>
                    </button>
                </th>
            }
            else if(Model.CurrentSortProperty == "LookupValue" &&
            Model.CurrentSortDirection == Benday.Common.SearchConstants.SortDirectionDescending)
            {
                <th>
                    <button type="submit" name="sortBy" value="LookupValue" class="btn btn-link">
                        <b>
                        Lookup Value &darr;
                        </b>
                    </button>
                </th>
            }
            else
            {
                <th>
                    <button type="submit" name="sortBy" value="LookupValue" class="btn btn-link">
                    Lookup Value
                    </button>
                </th>
            }
            
                <th>
                </th>
            </tr>
        </thead>
    @if (Model.Results == null || Model.Results.PageValues == null || Model.Results.PageValues.Count == 0)
    {
        <tr>
            <td colspan="100">
            (no results)
            </td>
        </tr>
    }
    else
    {
    @foreach (var item in Model.Results.PageValues) {
        <tr class="clickable-tr" onclick="handleRowClick(this)" data-href="@Url.Action("Details", new { id = item.Id })">
            <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.LookupType)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.LookupKey)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.LookupValue)
            </td>
        
            <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    }
    </table>

@await Html.PartialAsync("_PageableResultsControl", Model.Results)
}